@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

@font-face {
    font-family: 'Cygre';
    src: url('/dod2026/fonts/Cygre-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Cygre';
    src: url('/dod2026/fonts/Cygre-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Cygre';
    src: url('/dod2026/fonts/Cygre-Bold.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'TT Travels Text';
    src: url('/dod2026/fonts/TT_Travels_Text_Regular.woff2');
    font-weight: normal;
}

@font-face{
    font-family: 'TT Travels Text';
    src: url('/dod2026/fonts/TT_Travels_Text_Bold.woff2');
    font-weight: bold;
}

body{

    font-family: 'TT Travels Text';
    font-size: clamp(16px, 2vw, 18px);
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.6em;
    font-size: clamp(16px, 2vmax, 18px);
    color: $text;

    & strong{
        color: $primary;
        font-weight: 700;
    }

    & .subheader{
        font-size: clamp(18px, 3vw, 24px);
    }

    & h1{
        font-size: clamp(43px, 5vw, 64px);
        line-height: 1.1em;
    }

    & h2{
        font-size: clamp(32px, 5vw, 64px);
        line-height: 1.1em;
    }

    & h3{
        font-size: clamp(24px, 5vw, 30px);
        line-height: 1.1em;
    }
}
